:root {
  --primaryColor: #49108a;
  --primary: var(--primaryColor);

  --secondaryColor: #9b9e9e;
  --backgroundColor: #ffffff;
  --surfaceColor: #f4f6f8;
  --textColor: #333333;
  --mutedTextColor: #777777;
  --buttonTextColor: #ffffff;
  --borderColor: #e0e0e0;

  --successColor: #4caf50;
  --errorColor: #f44336;
  --warningColor: #ff9800;
  --infoColor: #2196f3;

  --borderRadius: 10px;
  --transitionSpeed: 0.3s;
}

/* Exemplo de uso */
button {
  background-color: var(--primaryColor);
  color: var(--buttonTextColor);
  border-radius: var(--borderRadius);
  border: none;
  padding: 0.5rem 1rem;
  transition: background-color var(--transitionSpeed);
}

button:hover {
  background-color: var(--secondaryColor);
}
